USE [QLBHDT]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 03/10/2023 9:21:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaSP] [nvarchar](20) NOT NULL,
	[SoLuong] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 03/10/2023 9:21:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NOT NULL,
	[MaKH] [nvarchar](20) NOT NULL,
	[NgayLapHD] [datetime] NOT NULL,
	[NgayNhanHang] [datetime] NOT NULL,
 CONSTRAINT [PK_MaHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 03/10/2023 9:21:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](20) NOT NULL,
	[TenKH] [nvarchar](30) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[DienThoai] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](30) NULL,
 CONSTRAINT [PK_MaKH] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiHang]    Script Date: 03/10/2023 9:21:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHang](
	[MaLoaiHang] [nvarchar](20) NOT NULL,
	[TenLoaiHang] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_MaLoaiHang] PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 03/10/2023 9:21:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaCongTy] [nvarchar](20) NOT NULL,
	[TenCongTy] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[DienThoai] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_MaCongTy] PRIMARY KEY CLUSTERED 
(
	[MaCongTy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 03/10/2023 9:21:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](20) NOT NULL,
	[HoLot] [nvarchar](30) NOT NULL,
	[Ten] [nvarchar](10) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[DienThoai] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_MaNV] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 03/10/2023 9:21:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](20) NOT NULL,
	[TenSP] [nvarchar](255) NOT NULL,
	[MaLoaiHang] [nvarchar](20) NOT NULL,
	[MaCongTy] [nvarchar](20) NOT NULL,
	[DonViTinh] [nvarchar](10) NOT NULL,
	[GiaNhap] [numeric](10, 0) NOT NULL,
	[GiaBan] [numeric](10, 0) NOT NULL,
	[SoLuong] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_MASP] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 03/10/2023 9:21:20 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[ThoiGianTao] [datetime] NULL CONSTRAINT [DF__Users__ThoiGianT__286302EC]  DEFAULT (getdate()),
 CONSTRAINT [PK__Users__3214EC07426F3EA6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (N'HD01', N'SP27', CAST(565 AS Numeric(18, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (N'HD02', N'SP01', CAST(23 AS Numeric(18, 0)))
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaSP], [SoLuong]) VALUES (N'HD02', N'SP05', CAST(1 AS Numeric(18, 0)))
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLapHD], [NgayNhanHang]) VALUES (N'HD01', N'NV01', N'KH01', CAST(N'2023-05-10 00:00:00.000' AS DateTime), CAST(N'2023-05-10 00:00:00.000' AS DateTime))
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLapHD], [NgayNhanHang]) VALUES (N'HD02', N'NV02', N'KH02', CAST(N'2023-06-10 00:00:00.000' AS DateTime), CAST(N'2023-06-10 00:00:00.000' AS DateTime))
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLapHD], [NgayNhanHang]) VALUES (N'HD03', N'NV03', N'KH03', CAST(N'2023-07-07 00:00:00.000' AS DateTime), CAST(N'2023-07-07 00:00:00.000' AS DateTime))
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai], [Email]) VALUES (N'KH01', N'Nguyễn Quốc An', N'Vĩnh Long', N'1234567890', N'')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai], [Email]) VALUES (N'KH02', N'Huỳnh Phú Lộc', N'Cần Thơ', N'1233445673', N'')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [DienThoai], [Email]) VALUES (N'KH03', N'Bạch Gia Quốc', N'Hậu Giang', N'0135663789', N'bachgiacuoc@gmail.com')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'LH01', N'Iphone')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'LH02', N'Samsung')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang]) VALUES (N'LH03', N'Oppo')
INSERT [dbo].[NhaCungCap] ([MaCongTy], [TenCongTy], [DiaChi], [DienThoai]) VALUES (N'CT01', N'Apple', N'Tòa nhà Deutsches Haus Ho Chi Minh City, Số 33, đường Lê Duẩn, phường Bến Nghé, quận 1,TP. Hồ Chí Minh, Việt Nam', N'18001192')
INSERT [dbo].[NhaCungCap] ([MaCongTy], [TenCongTy], [DiaChi], [DienThoai]) VALUES (N'CT02', N'Samsung', N'Tầng 3, Crescent Mall, 101 Tôn Dật Tiên, P. Tân Phú, Q.7, TP.HCM.', N'1800-588-890')
INSERT [dbo].[NhaCungCap] ([MaCongTy], [TenCongTy], [DiaChi], [DienThoai]) VALUES (N'CT03', N'Oppo', N'62A Cách Mạng Tháng Tám, phường Võ Thị Sáu, Quận 3, TP.HCM.', N'1800-588841')
INSERT [dbo].[NhanVien] ([MaNV], [HoLot], [Ten], [NgaySinh], [DiaChi], [DienThoai]) VALUES (N'NV01', N'Nguyễn Ngọc', N'Bích', CAST(N'1998-07-08 00:00:00.000' AS DateTime), N'89 Đặng Khôi', N'0918557788')
INSERT [dbo].[NhanVien] ([MaNV], [HoLot], [Ten], [NgaySinh], [DiaChi], [DienThoai]) VALUES (N'NV01âs', N'Nguyễn Ngọc', N'Bích', CAST(N'1998-07-08 00:00:00.000' AS DateTime), N'89 Đặng Khôi', N'918557788')
INSERT [dbo].[NhanVien] ([MaNV], [HoLot], [Ten], [NgaySinh], [DiaChi], [DienThoai]) VALUES (N'NV01eee', N'Nguyễn Ngọc', N'Bích', CAST(N'1998-07-08 00:00:00.000' AS DateTime), N'89 Đặng Khôi', N'918557788')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoaiHang], [MaCongTy], [DonViTinh], [GiaNhap], [GiaBan], [SoLuong]) VALUES (N'sadadfgdfg', N'ád', N'LH01', N'CT03', N'ád', CAST(123456 AS Numeric(10, 0)), CAST(230000034 AS Numeric(10, 0)), CAST(1234567890 AS Numeric(18, 0)))
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoaiHang], [MaCongTy], [DonViTinh], [GiaNhap], [GiaBan], [SoLuong]) VALUES (N'SP01', N'IPhone 14 Pro Max 128GB', N'LH01', N'CT01', N'Cái', CAST(23000000 AS Numeric(10, 0)), CAST(25000000 AS Numeric(10, 0)), CAST(50 AS Numeric(18, 0)))
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaLoaiHang], [MaCongTy], [DonViTinh], [GiaNhap], [GiaBan], [SoLuong]) VALUES (N'SP01cccfccc', N'IPhone 14 Pro Max 128GB', N'LH01', N'CT01', N'Cái', CAST(23000000 AS Numeric(10, 0)), CAST(25000000 AS Numeric(10, 0)), CAST(50 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Email], [Password], [ThoiGianTao]) VALUES (1, N'admin', N'admin@gmail.com', N'admin123', CAST(N'1900-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [Email], [Password], [ThoiGianTao]) VALUES (2, N'user1', N'user1@gmail.com', N'user123', CAST(N'1900-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([Id], [Username], [Email], [Password], [ThoiGianTao]) VALUES (3, N'user2', N'user2@gmail.com', N'user123', CAST(N'1900-01-01 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_MaHD_ChiTietHoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_MaHD_ChiTietHoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_MaSP_ChiTietHoaDon] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_MaSP_ChiTietHoaDon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_MaKH_HoaDon] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_MaKH_HoaDon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_MaNV_HoaDon] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_MaNV_HoaDon]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_MaCongTy_SanPham] FOREIGN KEY([MaCongTy])
REFERENCES [dbo].[NhaCungCap] ([MaCongTy])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_MaCongTy_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_MaLoaiHang_SanPham] FOREIGN KEY([MaLoaiHang])
REFERENCES [dbo].[LoaiHang] ([MaLoaiHang])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_MaLoaiHang_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_SoLuong_ChiTietHoaDon] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CK_SoLuong_ChiTietHoaDon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_NgayNhanHang] CHECK  (([NgayNhanHang]>=[NgayLapHD]))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_NgayNhanHang]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_GiaBan] CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_GiaBan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_GiaNhap] CHECK  (([GiaNhap]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_GiaNhap]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_SoLuong] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_SoLuong]
GO
